<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="projectName" source="spring.application.name"/>
    <contextName>logback</contextName>

    <!--输出到控制台-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level [%X{userName}:%X{userCode}] %logger{36} - %msg%n</pattern>
        </encoder>
        <discardingThreshold >0</discardingThreshold>
        <immediateFlush>true</immediateFlush> <!-- 立即写入 -->
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/logs/${projectName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${projectName}-logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level [%X{userName}:%X{userCode}] %logger{36} - %msg%n</pattern>
        </encoder>
        <discardingThreshold >0</discardingThreshold>
        <immediateFlush>true</immediateFlush> <!-- 立即写入 -->
    </appender>
    <!-- 日志输出级别 -->
    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="file" />
    </root>
</configuration>