<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prometheus.money.mapper.SimilarityMapper">
 <!-- 批量插入方法 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO similarity (frequency_id, frequency_word, similarity_word, frequency, coca, similarity, levenshtein)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.frequencyId}, #{item.frequencyWord}, #{item.similarityWord}, #{item.frequency}, #{item.coca}, #{item.similarity}, #{item.levenshtein})
        </foreach>
    </insert>
</mapper>
